body {
	background: #FDFDFF
}
p {
	font-family: "Lucida Console", Monaco, monospace
}
.units {
	font-family: "Lucida Console", Monaco, monospace
}
.gen {
	font-family: "Lucida Console", Monaco, monospace
}